.container-gamecontrol{
    width: 300px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.add-card{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 32px;
}
.stop-card{
    width: 200px;
    height: 50px;
    background-color: white;
    color: black;
    font-size: 32px;
}

.add-card:hover{
    background-color: white;
    color: black;
    box-shadow: -8px 8px 1px  #40FE95;
    transition: 0.2s;
}
.stop-card:hover{
    background-color: black;
    color: white;
    box-shadow: -8px 8px 1px  #FF0003;
    transition: 0.2s;
}