.bar {
    width: 100%;
    height: 60px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding-bottom: 10px;
}

.container {
    /* margin-top: 30px !important; */
    /* margin-top: 10px; */
    /* margin-left: 40%; */
    width: 1920px;
    height: 60px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

.status-title {
    font-size: 42px;
    font-weight: 500;
    color: white;
    /* min-width: 700px; */
    /* flex-grow: 1; Faz o título ocupar o espaço disponível */
    position: absolute;
    left: 20px;
    text-align: center;
    /* Centraliza o texto dentro da div */
}

.center-container{
    position: absolute;
    left: 36.5%;
    /* right: 42%; */
    display: flex;
    width: 650px;
    justify-content: space-between;
    align-items: center;
}

.restart-button {
    width: 140px;
    /* Tamanho do botão, ajuste conforme necessário */
    height: 40px;
    background-color: grey;
    /* Estilo temporário do botão */
    color: white;
    font-size: 18px;
    border-radius: 5%;
    /* Torna o botão redondo */

    /* margin-right: 280px; */
    font-weight: 700;
    visibility: hidden;
    
    /* margin-left: auto; Empurra o botão para a direita */

}
.rounds{
    font-size: 36px;
    color: white;
    /* width: 60px; */
}
.restartgame-button {
    width: 160px;
    /* Tamanho do botão, ajuste conforme necessário */
    height: 40px;
    background-color: white;
    /* Estilo temporário do botão */
    color: rgb(82, 82, 82);
    font-size: 18px;
    border-radius: 5%;
    /* Torna o botão redondo */

    /* margin-right: 280px; */
    font-weight: 700;
    visibility: hidden;

    /* margin-left: auto; Empurra o botão para a direita */

}

.restartgame-button:hover {
    box-shadow: -5px 5px 1px rgb(82, 82, 82);
    transition: 0.2s;
    cursor:pointer

}
.restart-button:hover {
    box-shadow: -5px 5px 1px white;
    transition: 0.2s;
    cursor:pointer
}

.showmodal-button{
    width: 80px;
    height: 40px;
    background-color: rgba(0, 128, 0, 0.959);
    color: rgb(255, 255, 255);
    font-size: 18px;
    border-radius: 5%;
    font-weight: 700;
    cursor: pointer;
}
.showmodal-button:hover{
    box-shadow: -5px 5px 1px white;
    transition: 0.2s;
}

.current-score{
    font-size: 30px;
    color: #00ff6a;
}
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
}

.logo {
    /* margin-top: 20px; */
    /* margin: 10px; */
    position: absolute;
    right: 20px;
    /* Mantém a logo no canto direito */
    width: 80px;
}


.victory {
    color: #00ff6a;
    text-decoration: underline #00ff6a;
}

.defeat {
    color: #FF0003;
    text-decoration: underline #FF0003;
}

.player {
    color: #40FE95;
    text-decoration: underline rgb(255, 255, 255);
}

.dealer {
    text-decoration: underline rgb(255, 255, 255);
    color: #FF5A5C;
}

.draw {
    text-decoration: underline #f39c12;
    color: #f39c12;
}

.neutral {
    text-decoration: underline rgb(182, 182, 182);
    color: rgb(182, 182, 182);

}