.bar{
    width: 100%;
    height: 60px;
    /* display: flex;
    justify-content: space-between;
    align-items: center; */
    padding-bottom: 10px;
}

.container{
    /* margin-top: 30px !important; */
    /* margin-top: 10px; */
    /* margin-left: 40%; */
    width: 1920px;
    height: 60px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;

}

.status-title {
    font-size: 42px;
    font-weight: 500;
    color: white;
    /* min-width: 700px; */
    /* flex-grow: 1; Faz o título ocupar o espaço disponível */
    position: absolute;
    left: 20px;
    text-align: center; /* Centraliza o texto dentro da div */
    text-decoration: underline ;
}

.restart-button {
    width: 100px; /* Tamanho do botão, ajuste conforme necessário */
    height: 40px;
    background-color: grey; /* Estilo temporário do botão */
    color: white;
    font-size: 18px;
    border-radius: 5%; /* Torna o botão redondo */
  
    /* margin-right: 280px; */
    font-weight: 700;
    visibility: hidden;
    position: absolute;
    left: 47.5%;
    right: 47.5%;
    /* margin-left: auto; Empurra o botão para a direita */

}

.logo {
    /* margin-top: 20px; */
    /* margin: 10px; */
    position: absolute;
    right: 20px; /* Mantém a logo no canto direito */
    width: 80px;
}